/*colors*/
$c-primary: hsl(180, 29%, 50%);
$c-background: hsl(180, 52%, 96%);
$c-tablets: hsl(180, 31%, 95%);
$c-dark: hsl(180, 8%, 52%);
$c-veryDark: hsl(180, 14%, 20%);

/*font size*/
$fs-primary: 15px;

/*font family*/
$ff-primary: "League Spartan", sans-serif;

/*font weight*/
$fw-regular: 500;
$fw-bold: 700;
