@import "../../assets/style/variables.scss";
.wrapper {
  position: relative;
  max-width: 750px;
  margin: 80px auto 0;
  padding-bottom: 80px;
  @media (width<=$rd-mobile) {
    max-width: 90%;
    padding-bottom: 20px;
  }
}
