@import "../../assets/style/variables.scss";

.card {
  background-color: $c-sixth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  border-left: 5px solid transparent;
  &--featured {
    @extend .card;
    border-left: 5px solid $c-first;
  }
  &__company {
    display: flex;
  }
  &__logo {
    margin-right: 20px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 10px;
  }
}
