@import "../../assets/style/variables.scss";

.card {
  background-color: $c-sixth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  border-left: 5px solid transparent;
  @media (width <= $rd-mobile) {
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 20px 25px;
    margin-bottom: 45px;
  }
  &--featured {
    @extend .card;
    border-left: 5px solid $c-first;
  }
  &__company {
    display: flex;
    @media (width <= $rd-mobile) {
      position: relative;
      width: 100%;
      padding-bottom: 18px;
      margin-bottom: 18px;
      border-bottom: 1px solid $c-fourth;
    }
  }
  &__logo {
    margin-right: 20px;
    @media (width <= $rd-mobile) {
      position: absolute;
      width: 50px;
      height: 50px;
      top: -60px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    @media (width <= $rd-mobile) {
      gap: 15px;
    }
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
    width: 40%;
    @media (width <= $rd-mobile) {
      justify-content: flex-start;
      width: auto;
    }
  }
}
