@import "../../assets/style/variables.scss";

.header {
  background-color: $c-first;
  height: 150px;
  background-image: url("../../../public/images/bg-header-desktop.svg");
  background-repeat: repeat-x;
  @media (width <=$rd-mobile) {
    height: 150px;
    background-image: url("../../../public/images/bg-header-mobile.svg");
  }
}
