@import "../../assets/style/variables.scss";

.filters-card {
  position: absolute;
  top: -110px;
  width: 100%;
  background-color: $c-sixth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-radius: 5px;
  @media (width <=768px) {
    top: -150px;
    padding: 15px;
    gap: 5px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__clear {
    margin-left: auto;
    color: $c-fourth;
    font-weight: $fw-bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $c-first;
      text-decoration: underline;
    }
  }
}
